{% load static %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/Deluxe.png' %}" width="20" height="auto" class="d-block w-100" alt="Slider Image 1">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"> </ul>
                <span>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item px-3">
                            <a class="nav-link" href="{% url 'products' %}">
                                Products
                                
                                
                            </a>
                        </li>

                        {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown px-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                
                                
                                Welcome, {{request.user.username}}
                                
                                

                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="auto" fill="currentColor"
                                    class="bi bi-person-circle ms-2" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd"
                                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'profile' %}">Account Details</a></li>
                                <li><a class="dropdown-item" href="{% url 'Logout' %}">Log out</a></li>
                                <li><a class="dropdown-item" href="{% url 'orders' %}">My Orders</a></li>
                            </ul>
                        </li>
                        {% else %}
                            <li class="nav-item px-3">
                                <a class="nav-link btn btn-dark" style="color: white;" href="{% url 'Login' %}">
                                    Login                        
                                </a>
                            </li>
                            
                        {% endif %}
                    </ul>
                </span>
            </div>
        </div>
    </nav>